.customer-information {
    font-size: 15pt;
}


.add-address {
    font-size: 12pt !important;
    border-radius: 50%;
    padding: 0 7px;
    font-weight: bolder;
    background-color: #000000;
    color: #ffd112;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.profile-title{
    font-size: 20pt;
}

.order-title{
    font-size: 14pt;
}

.order-product-title{
    font-size: 14pt;
}

.order-product-image{
    width: 100px;
}

.order-amount{
    font-size: 14pt;
}

.order-status{
    font-size: 14pt;
}


@media screen and (max-width: 768px) {
    .border-right-black {
        border-bottom: 5px solid black;
    }

    .profile-title{
        font-size: 15pt;
    }

    .order-title{
        font-size: 10pt;
    }

    .order-product-title{
        font-size: 10pt;
    }

    .order-amount{
        font-size: 10pt;
    }

    .order-status {
        font-size: 10pt;
    }

    .order-product-image{
        width: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .border-right-black {
        border-bottom: 5px solid black;
    }

    .profile-title{
        font-size: 15pt;
    }

    .order-title{
        font-size: 11pt;
    }

    .order-product-title{
        font-size: 11pt;
    }

    .order-amount{
        font-size: 11pt;
    }

    .order-status {
        font-size: 11pt;
    }

    .order-product-image{
        width: 85px;
    }
}


@media screen and (min-width: 768px) {
    .border-right-black {
        border-right: 5px solid black;
    }
}
